In [431]:
import pandas as pd
import numpy as np
import json
from datetime import datetime
from dotenv import load_dotenv
import os
import requests

In [432]:
df = pd.read_csv('tmdb_5000_movies.csv')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [433]:
df.shape

(4803, 20)

In [434]:
df.status.value_counts()

Released           4795
Rumored               5
Post Production       3
Name: status, dtype: int64

In [435]:
df = df[df.status == 'Released' ]

In [436]:
df.drop(['homepage','original_title', 'status','tagline','spoken_languages','overview'], axis=1, inplace=True)

In [437]:
cols = df.columns.tolist()
cols

['budget',
 'genres',
 'id',
 'keywords',
 'original_language',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'title',
 'vote_average',
 'vote_count']

In [438]:
cols2 = ['id','title','release_date','runtime','original_language','genres','production_companies',
        'production_countries','keywords','budget','vote_average','vote_count','popularity','revenue']

In [439]:
df = df[cols2]
df.head()

,id,title,release_date,runtime,original_language,genres,production_companies,production_countries,keywords,budget,vote_average,vote_count,popularity,revenue
0,19995,Avatar,2009-12-10,162.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",237000000,7.2,11800,150.437577,2787965087
1,285,Pirates of the Caribbean: At World's End,2007-05-19,169.0,en,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",300000000,6.9,4500,139.082615,961000000
2,206647,Spectre,2015-10-26,148.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",245000000,6.3,4466,107.376788,880674609
3,49026,The Dark Knight Rises,2012-07-16,165.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",250000000,7.6,9106,112.312950,1084939099
4,49529,John Carter,2012-03-07,132.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",260000000,6.1,2124,43.926995,284139100

In [440]:
df.original_language.value_counts()[:4]

en    4498
fr      70
es      32
de      27
Name: original_language, dtype: int64

In [441]:
df.original_language.value_counts()

en    4498
fr      70
es      32
de      27
zh      27
hi      19
ja      16
it      14
cn      12
ko      11
ru      11
pt       9
da       7
sv       5
fa       4
nl       4
he       3
th       3
id       2
ro       2
ta       2
ar       2
vi       1
is       1
pl       1
no       1
af       1
sl       1
ps       1
tr       1
el       1
hu       1
te       1
ky       1
nb       1
cs       1
xx       1
Name: original_language, dtype: int64

In [442]:
def convert_lang(elem):
    top_countries = df.original_language.value_counts()[:4]
    if elem not in top_countries:
        elem = 'other'
    return elem

In [443]:
df.original_language = df.original_language.apply(convert_lang)
df.head()

,id,title,release_date,runtime,original_language,genres,production_companies,production_countries,keywords,budget,vote_average,vote_count,popularity,revenue
0,19995,Avatar,2009-12-10,162.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",237000000,7.2,11800,150.437577,2787965087
1,285,Pirates of the Caribbean: At World's End,2007-05-19,169.0,en,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",300000000,6.9,4500,139.082615,961000000
2,206647,Spectre,2015-10-26,148.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",245000000,6.3,4466,107.376788,880674609
3,49026,The Dark Knight Rises,2012-07-16,165.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",250000000,7.6,9106,112.312950,1084939099
4,49529,John Carter,2012-03-07,132.0,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",260000000,6.1,2124,43.926995,284139100

In [444]:
df.original_language.value_counts()

en       4498
other     168
fr         70
es         32
de         27
Name: original_language, dtype: int64

In [445]:
df[df.vote_count==0].vote_count.value_counts()

0    61
Name: vote_count, dtype: int64

In [446]:
df[df.popularity==0].popularity.value_counts()

0.0    1
Name: popularity, dtype: int64

In [447]:
df = df[df.vote_count!=0]

In [448]:
df = df[df.popularity!=0]

In [449]:
df.shape

(4734, 14)

In [450]:
df = df[df.id!=112430]

In [451]:
df.shape

(4733, 14)

In [452]:
df = df[(df.runtime>80) | ((df.budget!=0) & (df.revenue!=0))]

In [453]:
df.shape

(4645, 14)

In [454]:
df2 = df.copy()

In [455]:
# all_genres = []
# for x in df.genres:
#     x = json.loads(x)
#     x = [z['name'] for z in x]
#     for y in x:
#         if y not in all_genres:
#             all_genres.append(y)
# all_genres

In [456]:
def getNames(series):
    lis = []
    for x in series:
        x = json.loads(x)
        x = [z['name'] for z in x]
        for y in x:
            if y not in lis:
                lis.append(y)
    return lis

all_genres = getNames(df.genres)
all_genres

['Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'Crime',
 'Drama',
 'Thriller',
 'Animation',
 'Family',
 'Western',
 'Comedy',
 'Romance',
 'Horror',
 'Mystery',
 'History',
 'War',
 'Music',
 'Documentary',
 'Foreign',
 'TV Movie']

In [457]:
def convert_genres(elem):
    elem = json.loads(elem)
    elem = [z['name'] for z in elem]
    return elem

# def convert_genres2(elem):
#     elem = json.loads(elem)
#     res = ''
#     for z in elem:
#         res += z['name']
#     return res

# def convert_genres3(elem):
#     elem = json.loads(elem)
#     elem = [z['name'] for z in elem]
#     return set(elem)

In [458]:
df.genres = df.genres.apply(convert_genres)
df.head()

,id,title,release_date,runtime,original_language,genres,production_companies,production_countries,keywords,budget,vote_average,vote_count,popularity,revenue
0,19995,Avatar,2009-12-10,162.0,en,"[Action, Adventure, Fantasy, Science Fiction]","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",237000000,7.2,11800,150.437577,2787965087
1,285,Pirates of the Caribbean: At World's End,2007-05-19,169.0,en,"[Adventure, Fantasy, Action]","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",300000000,6.9,4500,139.082615,961000000
2,206647,Spectre,2015-10-26,148.0,en,"[Action, Adventure, Crime]","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",245000000,6.3,4466,107.376788,880674609
3,49026,The Dark Knight Rises,2012-07-16,165.0,en,"[Action, Crime, Drama, Thriller]","[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",250000000,7.6,9106,112.312950,1084939099
4,49529,John Carter,2012-03-07,132.0,en,"[Action, Adventure, Science Fiction]","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",260000000,6.1,2124,43.926995,284139100

In [459]:
genres_dummies = df['genres'].str.join(sep='*').str.get_dummies(sep='*')
genres_dummies.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [460]:
all_comps = []
for x in df.production_companies:
    if len(x)>2:
        x = json.loads(x)
        y = x[0]['name']
    
        if y not in all_comps:
                all_comps.append(y)
len(all_comps)

1257

In [461]:
df.drop('production_companies', axis=1, inplace=True)

In [462]:
all_countries = getNames(df.production_countries)
display(len(all_countries), all_countries[:10])

83

['United States of America',
 'United Kingdom',
 'Jamaica',
 'Bahamas',
 'Dominica',
 'Czech Republic',
 'Poland',
 'Slovenia',
 'New Zealand',
 'Germany']

In [463]:
df.production_countries = df.production_countries.apply(convert_genres)
df.head()

,id,title,release_date,runtime,original_language,genres,production_countries,keywords,budget,vote_average,vote_count,popularity,revenue
0,19995,Avatar,2009-12-10,162.0,en,"[Action, Adventure, Fantasy, Science Fiction]","[United States of America, United Kingdom]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",237000000,7.2,11800,150.437577,2787965087
1,285,Pirates of the Caribbean: At World's End,2007-05-19,169.0,en,"[Adventure, Fantasy, Action]",[United States of America],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",300000000,6.9,4500,139.082615,961000000
2,206647,Spectre,2015-10-26,148.0,en,"[Action, Adventure, Crime]","[United Kingdom, United States of America]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",245000000,6.3,4466,107.376788,880674609
3,49026,The Dark Knight Rises,2012-07-16,165.0,en,"[Action, Crime, Drama, Thriller]",[United States of America],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",250000000,7.6,9106,112.312950,1084939099
4,49529,John Carter,2012-03-07,132.0,en,"[Action, Adventure, Science Fiction]",[United States of America],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",260000000,6.1,2124,43.926995,284139100

In [464]:
countries_dummies = df['production_countries'].str.join(sep='*').str.get_dummies(sep='*')
countries_dummies.head()

,Afghanistan,Angola,Argentina,Aruba,Australia,Austria,Bahamas,Belgium,Bhutan,Bolivia,...,Sweden,Switzerland,Taiwan,Thailand,Tunisia,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States of America
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [465]:
all_keys = getNames(df.keywords)
display(len(all_keys), all_keys[:10])

9765

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien']

In [466]:
df.drop('keywords', axis=1, inplace=True)

In [467]:
df['release_date'] = pd.to_datetime(df['release_date'])
df.dtypes

id                               int64
title                           object
release_date            datetime64[ns]
runtime                        float64
original_language               object
genres                          object
production_countries            object
budget                           int64
vote_average                   float64
vote_count                       int64
popularity                     float64
revenue                          int64
dtype: object

In [468]:
df.head()

,id,title,release_date,runtime,original_language,genres,production_countries,budget,vote_average,vote_count,popularity,revenue
0,19995,Avatar,2009-12-10,162.0,en,"[Action, Adventure, Fantasy, Science Fiction]","[United States of America, United Kingdom]",237000000,7.2,11800,150.437577,2787965087
1,285,Pirates of the Caribbean: At World's End,2007-05-19,169.0,en,"[Adventure, Fantasy, Action]",[United States of America],300000000,6.9,4500,139.082615,961000000
2,206647,Spectre,2015-10-26,148.0,en,"[Action, Adventure, Crime]","[United Kingdom, United States of America]",245000000,6.3,4466,107.376788,880674609
3,49026,The Dark Knight Rises,2012-07-16,165.0,en,"[Action, Crime, Drama, Thriller]",[United States of America],250000000,7.6,9106,112.312950,1084939099
4,49529,John Carter,2012-03-07,132.0,en,"[Action, Adventure, Science Fiction]",[United States of America],260000000,6.1,2124,43.926995,284139100

In [469]:
df.shape

(4645, 12)

In [470]:
df[df.revenue==0].revenue.value_counts()

0    1279
Name: revenue, dtype: int64

In [471]:
df[df.revenue==0]

,id,title,release_date,runtime,original_language,genres,production_countries,budget,vote_average,vote_count,popularity,revenue
83,79698,The Lovers,2015-02-13,109.0,en,"[Action, Adventure, Science Fiction, Romance]","[Australia, Belgium, India]",27000000,4.8,34,2.418535,0
135,7978,The Wolfman,2010-02-11,102.0,en,"[Drama, Horror, Thriller]",[United States of America],150000000,5.5,549,21.214571,0
265,10588,The Cat in the Hat,2003-11-21,82.0,en,"[Comedy, Fantasy, Family]",[United States of America],0,4.9,366,18.251129,0
309,10214,Son of the Mask,2005-02-18,94.0,en,"[Fantasy, Comedy, Family, Adventure]","[Germany, United States of America]",84000000,3.6,338,17.815595,0
376,10357,Volcano,1997-04-25,104.0,en,"[Science Fiction, Action, Drama, Thriller]",[United States of America],90000000,5.2,376,19.836124,0
406,51052,Arthur Christmas,2011-02-22,97.0,en,"[Drama, Animation, Family, Comedy]",[United States of America],0,6.7,333,19.836830,0
433,146216,RED 2,2013-07-18,116.0,en,"[Action, Comedy, Crime, Thriller]","[Canada, France, United States of America]",84000000,6.4,1526,44.343330,0
453,12096,The Pink Panther,2006-01-18,93.0,en,"[Action, Comedy, Crime, Mystery, Family]",[United States of America],0,5.6,550,25.450534,0
463,161795,Déjà Vu,1998-04-22,117.0,en,"[Romance, Drama]",[United States of America],0,8.0,1,0.605645,0
467,9822,Mighty Joe Young,1998-12-25,114.0,en,"[Action, Adventure, Family, Fantasy]",[United States of America],90000000,5.9,208,6.643778,0
471,9678,Little Nicky,2000-11-10,90.0,en,"[Comedy, Fantasy, Romance]",[United States of America],85000000,5.2,438,18.335992,0
474,330770,Evolution,2015-09-14,81.0,fr,"[Mystery, Drama, Horror]","[Belgium, France, Spain]",0,6.4,47,3.300061,0
492,293644,Top Cat Begins,2015-10-30,89.0,es,"[Comedy, Animation]","[India, Mexico]",8000000,5.3,9,0.719996,0
536,1439,Anna and the King,1999-12-16,148.0,en,"[Drama, History, Romance]","[Malaysia, United States of America]",75000000,6.4,197,13.327372,0
584,10395,Wolf,1994-06-17,125.0,en,[Fantasy],[United States of America],0,6.0,216,13.758526,0
601,11535,Rollerball,2002-02-08,98.0,en,"[Action, Science Fiction, Thriller]","[Germany, Japan, United States of America]",0,3.4,106,9.306253,0
648,11820,Mona Lisa Smile,2003-12-19,117.0,en,"[Drama, Romance]",[United States of America],65000000,6.5,393,19.718544,0
656,9440,Primary Colors,1998-03-20,143.0,en,"[Comedy, Drama]","[France, Germany, Japan, United Kingdom, Unite...",65000000,6.1,94,9.110247,0
660,11983,Proof of Life,2000-12-08,135.0,en,"[Action, Adventure, Drama, Romance, Thriller]",[United States of America],65000000,6.0,208,14.866901,0
665,10783,Lucky Numbers,2000-10-27,105.0,en,"[Action, Adventure, Comedy, Crime, Romance, Th...","[France, United States of America]",65000000,4.9,52,2.952595,0
685,9955,Blades of Glory,2007-03-30,93.0,en,"[Action, Comedy, Drama]",[United States of America],53000000,5.9,569,19.412028,0
710,5994,The Family Man,2000-12-12,125.0,en,"[Comedy, Drama, Romance, Fantasy]",[United States of America],60000000,6.5,521,19.705489,0
719,13576,This Is It,2009-10-28,111.0,en,"[Music, Documentary]",[United States of America],60000000,6.7,247,15.798622,0
721,10628,Kangaroo Jack,2003-01-17,89.0,en,"[Comedy, Adventure, Crime]","[Australia, United States of America]",0,4.3,203,10.292864,0
733,9302,Up Close & Personal,1996-03-01,119.0,en,"[Drama, Romance]",[United States of America],60000000,5.9,50,4.801849,0
735,10771,The Tuxedo,2002-09-27,98.0,en,"[Thriller, Action, Comedy, Science Fiction]",[United States of America],0,5.3,483,21.549232,0
745,10040,Miss Congeniality 2: Armed and Fabulous,2005-03-11,115.0,en,"[Action, Comedy]",[United States of America],0,5.3,425,19.998581,0
757,87825,Trouble with the Curve,2012-09-21,111.0,en,"[Drama, Romance]",[United States of America],0,6.6,366,18.587114,0
762,8838,Mercury Rising,1998-04-03,111.0,en,"[Action, Crime, Drama, Thriller]",[United States of America],60000000,6.0,368,18.877795,0
780,11374,Edtv,1999-03-26,122.0,en,[Comedy],[United States of America],80000000,5.7,166,14.298297,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4750,159770,The Dirties,2013-10-04,83.0,en,[Drama],[Canada],0,6.0,42,0.833937,0
4751,42109,Gabriela,1983-03-24,99.0,other,"[Drama, Romance]",[Brazil],0,6.0,2,0.557602,0
4753,193603,Hayride,2012-10-13,93.0,en,"[Thriller, Horror]",[United States of America],60000,5.1,6,0.412342,0
4755,322745,Counting,2015-02-09,111.0,en,[Documentary],[United States of America],50000,8.3,3,0.293587,0
4757,174362,Bending Steel,2013-04-20,93.0,en,[Documentary],[],0,5.0,1,0.048726,0
4759,250902,The Image Revolution,2013-11-21,81.0,en,[Documentary],[United States of America],50000,5.7,3,0.545620,0
4760,158895,This Is Martin Bonner,2013-06-28,83.0,en,[Drama],[United States of America],0,6.6,4,0.763680,0
4761,222250,A True Story,2013-09-20,96.0,en,[Comedy],[],0,6.8,2,0.970351,0
4762,18292,George Washington,2000-10-01,89.0,en,[Drama],[United States of America],0,6.4,36,2.058834,0
4763,125537,Smiling Fish & Goat On Fire,1999-09-16,90.0,en,"[Comedy, Romance]",[United States of America],0,7.0,1,0.007340,0
4764,326576,Dawn of the Crescent Moon,2014-04-05,95.0,en,"[Thriller, Drama, Science Fiction]",[],0,2.0,1,0.049469,0
4765,228550,Raymond Did It,2011-03-27,83.0,en,[Horror],[],0,3.2,8,0.160779,0
4770,40769,Mutual Appreciation,2005-03-01,109.0,en,"[Drama, Comedy]",[],500000,6.1,8,0.123068,0
4776,14585,In the Company of Men,1997-01-19,97.0,en,"[Comedy, Drama]","[Canada, United States of America]",0,6.8,44,2.634007,0
4778,38780,Rampage,2009-08-14,85.0,en,"[Action, Drama, Crime, Thriller]","[Canada, Germany]",0,6.0,131,7.101197,0
4779,14022,Slacker,1990-07-27,97.0,en,[Comedy],[United States of America],0,6.4,77,3.320622,0
4781,255266,Dry Spell,2013-02-14,90.0,en,"[Comedy, Romance]",[United States of America],22000,6.0,1,0.048948,0
4782,17345,Flywheel,2003-01-01,120.0,en,"[Drama, Family]",[United States of America],0,6.8,19,1.048524,0
4783,226458,Backmask,2015-01-16,91.0,en,"[Thriller, Horror]",[United States of America],0,4.7,79,3.619167,0
4784,24055,The Puffy Chair,2005-01-17,85.0,en,"[Drama, Comedy, Romance]",[],0,6.2,15,1.243955,0
4786,44990,Breaking Upwards,2009-03-14,88.0,en,"[Comedy, Romance]",[United States of America],0,5.6,12,0.674570,0
4789,39851,Clean,2004-09-01,111.0,en,[Drama],"[United Kingdom, France, Canada]",0,6.7,17,1.464566,0
4790,13898,The Circle,2000-09-08,90.0,other,"[Drama, Foreign]",[Iran],0,6.6,17,1.193779,0
4791,157185,Tin Can Man,2007-01-01,84.0,en,[Horror],[Ireland],13,2.0,1,0.332679,0
4793,182291,On The Downlow,2004-04-11,90.0,en,[Drama],[United States of America],0,6.0,2,0.029757,0
4795,124606,Bang,1995-09-09,98.0,en,[Drama],[United States of America],0,6.0,1,0.918116,0
4799,72766,Newlyweds,2011-12-26,85.0,en,"[Comedy, Romance]",[],9000,5.9,5,0.642552,0
4800,231617,"Signed, Sealed, Delivered",2013-10-13,120.0,en,"[Comedy, Drama, Romance, TV Movie]",[United States of America],0,7.0,6,1.444476,0
4801,126186,Shanghai Calling,2012-05-03,98.0,en,[],"[United States of America, China]",0,5.7,7,0.857008,0
4802,25975,My Date with Drew,2005-08-05,90.0,en,[Documentary],[United States of America],0,6.3,16,1.929883,0

In [472]:
df[df.budget==0].budget.value_counts()

0    915
Name: budget, dtype: int64

In [473]:
load_dotenv(dotenv_path='.env')
SECRET_KEY = os.getenv("TOKEN")

In [483]:
id1 = str(19995)
response = requests.get('https://api.themoviedb.org/3/movie/'+id1+'/external_ids?api_key='+SECRET_KEY)
results = response.json()
display('imdb_id' in results.keys())

True

In [485]:
def imdb_id(row):
    if row['budget']==0 or row['revenue']==0:
        id1 = str(row['id'])
        response = requests.get('https://api.themoviedb.org/3/movie/'+id1+'/external_ids?api_key='+SECRET_KEY)
        results = response.json()
        if 'imdb_id' in results.keys():
            return results["imdb_id"]
        else: return 0
    else: return 0

df['imdb_id'] = df.apply(imdb_id, axis=1)

In [490]:
df[df.revenue==0].head()

,id,title,release_date,runtime,original_language,genres,production_countries,budget,vote_average,vote_count,popularity,revenue,imdb_id
83,79698,The Lovers,2015-02-13,109.0,en,"[Action, Adventure, Science Fiction, Romance]","[Australia, Belgium, India]",27000000,4.8,34,2.418535,0,tt1321869
135,7978,The Wolfman,2010-02-11,102.0,en,"[Drama, Horror, Thriller]",[United States of America],150000000,5.5,549,21.214571,0,tt0780653
265,10588,The Cat in the Hat,2003-11-21,82.0,en,"[Comedy, Fantasy, Family]",[United States of America],0,4.9,366,18.251129,0,tt0312528
309,10214,Son of the Mask,2005-02-18,94.0,en,"[Fantasy, Comedy, Family, Adventure]","[Germany, United States of America]",84000000,3.6,338,17.815595,0,tt0362165
376,10357,Volcano,1997-04-25,104.0,en,"[Science Fiction, Action, Drama, Thriller]",[United States of America],90000000,5.2,376,19.836124,0,tt0120461

In [514]:
df.head()

,id,title,release_date,runtime,original_language,genres,production_countries,budget,vote_average,vote_count,popularity,revenue,imdb_id
0,19995,Avatar,2009-12-10,162.0,en,"[Action, Adventure, Fantasy, Science Fiction]","[United States of America, United Kingdom]",237000000,7.2,11800,150.437577,2787965087,0
1,285,Pirates of the Caribbean: At World's End,2007-05-19,169.0,en,"[Adventure, Fantasy, Action]",[United States of America],300000000,6.9,4500,139.082615,961000000,0
2,206647,Spectre,2015-10-26,148.0,en,"[Action, Adventure, Crime]","[United Kingdom, United States of America]",245000000,6.3,4466,107.376788,880674609,0
3,49026,The Dark Knight Rises,2012-07-16,165.0,en,"[Action, Crime, Drama, Thriller]",[United States of America],250000000,7.6,9106,112.312950,1084939099,0
4,49529,John Carter,2012-03-07,132.0,en,"[Action, Adventure, Science Fiction]",[United States of America],260000000,6.1,2124,43.926995,284139100,0

In [518]:
def get_cast(row):
    
    id1 = str(row['id'])
    response = requests.get('https://api.themoviedb.org/3/movie/'+id1+'/credits?api_key='+SECRET_KEY)
    results = response.json()
    if 'crew' in results.keys():
        dirs = []
        for x in results['crew'][:5]:
            if x['department'] == 'Directing':
                dirs.append(x['name'])
        if len(dirs)>0: return dirs
        else: return 0
    else: return 0

df.head().apply(get_cast, axis=1)

0        [James Cameron]
1       [Gore Verbinski]
2           [Sam Mendes]
3    [Christopher Nolan]
4       [Andrew Stanton]
dtype: object

In [ ]:
def get_cast(row):
    
    id1 = str(row['id'])
    response = requests.get('https://api.themoviedb.org/3/movie/'+id1+'/credits?api_key='+SECRET_KEY)
    results = response.json()
    if 'cast' in results.keys():
        return [(results['cast'][i]['name']) for i in range(3)]
    else: return 0

df['cast'] = df.apply(get_cast, axis=1)

In [30]:



load_dotenv(dotenv_path='.env')
SECRET_KEY = os.getenv("TOKEN")

In [ ]:
id1 = 19995
response = requests.get('https://api.themoviedb.org/3/movie/'+id1+'/external_ids?api_key='+SECRET_KEY)
results = response.json()
results["imdb_id"]

In [515]:

response = requests.get('https://api.themoviedb.org/3/movie/206647/credits?api_key='+SECRET_KEY)
results = response.json()
results.keys()

dict_keys(['id', 'cast', 'crew'])

In [503]:
# direct = results['cast'][i]['name']
direct = [(results['cast'][i]['name']) for i in range(3)]
direct

['Sam Worthington', 'Zoe Saldana', 'Stephen Lang']

In [517]:
direct = results['crew']
lista = []
for x in direct:
    if x['department'] == 'Directing':
        lista.append(x['name'])
        break
direct

[{'credit_id': '5751eed59251416b60000637',
  'department': 'Production',
  'gender': 2,
  'id': 1477203,
  'job': 'Co-Producer',
  'name': 'Luca Marco Paracels',
  'profile_path': None},
 {'credit_id': '52fe4d22c3a368484e1d8d77',
  'department': 'Directing',
  'gender': 2,
  'id': 39,
  'job': 'Director',
  'name': 'Sam Mendes',
  'profile_path': '/5z89X9rB76JDblqMQ52fviwXxAN.jpg'},
 {'credit_id': '52fe4d22c3a368484e1d8d7d',
  'department': 'Production',
  'gender': 1,
  'id': 10666,
  'job': 'Producer',
  'name': 'Barbara Broccoli',
  'profile_path': None},
 {'credit_id': '52fe4d22c3a368484e1d8d83',
  'department': 'Production',
  'gender': 2,
  'id': 69678,
  'job': 'Producer',
  'name': 'Michael G. Wilson',
  'profile_path': '/j9E7oKJMgprlrwkUkk2JXdY5tnJ.jpg'},
 {'credit_id': '52fe4d22c3a368484e1d8d8d',
  'department': 'Writing',
  'gender': 2,
  'id': 932,
  'job': 'Screenplay',
  'name': 'John Logan',
  'profile_path': '/3yVu9Jda97tJlkijaL3wmSABWwo.jpg'},
 {'credit_id': '54805967c3a36829b5002c41',
  'department': 'Sound',
  'gender': 2,
  'id': 153,
  'job': 'Original Music Composer',
  'name': 'Thomas Newman',
  'profile_path': None},
 {'credit_id': '548059799251416e7e00265c',
  'department': 'Camera',
  'gender': 2,
  'id': 74401,
  'job': 'Director of Photography',
  'name': 'Hoyte van Hoytema',
  'profile_path': '/dT5fWu3M9qJQlE5rItpSGUUOMC0.jpg'},
 {'credit_id': '54805989c3a36829ae0022d8',
  'department': 'Editing',
  'gender': 2,
  'id': 3904,
  'job': 'Editor',
  'name': 'Lee Smith',
  'profile_path': '/5XNVKGYwQraa4LYk0pjRhvdC3c1.jpg'},
 {'credit_id': '5522fdd09251416d4a0024b6',
  'department': 'Costume & Make-Up',
  'gender': 1,
  'id': 11227,
  'job': 'Costume Design',
  'name': 'Jany Temime',
  'profile_path': '/1G8TxAQnndnY5CLqVApBQ8RUT4A.jpg'},
 {'credit_id': '562fc976c3a3681b5c00dd64',
  'department': 'Writing',
  'gender': 0,
  'id': 10782,
  'job': 'Screenplay',
  'name': 'Neal Purvis',
  'profile_path': '/eossmqcHU9EeV28foEiYLOpxjST.jpg'},
 {'credit_id': '562fc984c3a3681b5400e16f',
  'department': 'Writing',
  'gender': 2,
  'id': 10783,
  'job': 'Screenplay',
  'name': 'Robert Wade',
  'profile_path': '/txwb1hbBMiNuvJA8LvcvsjiIML8.jpg'},
 {'credit_id': '5677e32d9251417845001683',
  'department': 'Production',
  'gender': 0,
  'id': 1551807,
  'job': 'Researcher',
  'name': 'Gina De Ferrer',
  'profile_path': None},
 {'credit_id': '56cd782ac3a368275b001cae',
  'department': 'Lighting',
  'gender': 0,
  'id': 1553236,
  'job': 'Gaffer',
  'name': 'Stefano Marino',
  'profile_path': None},
 {'credit_id': '562fc9a89251414ad800c0fe',
  'department': 'Writing',
  'gender': 2,
  'id': 21339,
  'job': 'Screenplay',
  'name': 'Jez Butterworth',
  'profile_path': None},
 {'credit_id': '562fc9bb92514129fe0006b4',
  'department': 'Writing',
  'gender': 2,
  'id': 932,
  'job': 'Story',
  'name': 'John Logan',
  'profile_path': '/3yVu9Jda97tJlkijaL3wmSABWwo.jpg'},
 {'credit_id': '562fc9cec3a3681b4b00d168',
  'department': 'Writing',
  'gender': 2,
  'id': 10783,
  'job': 'Story',
  'name': 'Robert Wade',
  'profile_path': '/txwb1hbBMiNuvJA8LvcvsjiIML8.jpg'},
 {'credit_id': '562fc9d79251414ad800c103',
  'department': 'Writing',
  'gender': 0,
  'id': 10782,
  'job': 'Story',
  'name': 'Neal Purvis',
  'profile_path': '/eossmqcHU9EeV28foEiYLOpxjST.jpg'},
 {'credit_id': '5654d41c92514145c3000373',
  'department': 'Art',
  'gender': 2,
  'id': 4248,
  'job': 'Production Design',
  'name': 'Dennis Gassner',
  'profile_path': None},
 {'credit_id': '566046b9c3a36875f400323a',
  'department': 'Sound',
  'gender': 0,
  'id': 14765,
  'job': 'Supervising Sound Editor',
  'name': 'Per Hallberg',
  'profile_path': None},
 {'credit_id': '566046d7c3a36875e900359d',
  'department': 'Sound',
  'gender': 0,
  'id': 1404212,
  'job': 'Supervising Sound Editor',
  'name': 'Karen Baker Landers',
  'profile_path': None},
 {'credit_id': '566047029251412204002337',
  'department': 'Directing',
  'gender': 0,
  'id': 1342669,
  'job': 'Script Supervisor',
  'name': 'Jayne-Ann Tenggren',
  'profile_path': None},
 {'credit_id': '5677cc9ac3a368167c0089b5',
  'department': 'Production',
  'gender': 1,
  'id': 10496,
  'job': 'Casting',
  'name': 'Debbie McWilliams',
  'profile_path': None},
 {'credit_id': '5677ccab925141691a00530f',
  'department': 'Production',
  'gender': 0,
  'id': 36108,
  'job': 'Casting',
  'name': 'Nicole Schmied',
  'profile_path': None},
 {'credit_id': '5677cd0ec3a368168e008f75',
  'department': 'Art',
  'gender': 0,
  'id': 1335539,
  'job': 'Art Direction',
  'name': 'Andrew Bennett',
  'profile_path': None},
 {'credit_id': '5677cd21c3a3681680008700',
  'department': 'Art',
  'gender': 2,
  'id': 979698,
  'job': 'Art Direction',
  'name': 'Neal Callow',
  'profile_path': None},
 {'credit_id': '5677cd3a92514179d2008852',
  'department': 'Art',
  'gender': 0,
  'id': 1296445,
  'job': 'Art Direction',
  'name': 'Ben Collins',
  'profile_path': None},
 {'credit_id': '5677cd5a92514179e30086fb',
  'department': 'Art',
  'gender': 2,
  'id': 986687,
  'job': 'Art Direction',
  'name': 'Mark Harris',
  'profile_path': None},
 {'credit_id': '5677cd99925141691a005333',
  'department': 'Art',
  'gender': 1,
  'id': 8384,
  'job': 'Set Decoration',
  'name': 'Anna Pinnock',
  'profile_path': None},
 {'credit_id': '5677cdd8c3a368168b0081e1',
  'department': 'Art',
  'gender': 1,
  'id': 1394117,
  'job': 'Art Department Coordinator',
  'name': 'Jennifer Lewicki',
  'profile_path': None},
 {'credit_id': '5677ce0c9251417845001384',
  'department': 'Crew',
  'gender': 0,
  'id': 1551770,
  'job': 'Carpenter',
  'name': 'Paul Duff',
  'profile_path': None},
 {'credit_id': '5677ce5192514179e300871b',
  'department': 'Crew',
  'gender': 0,
  'id': 1551771,
  'job': 'Property Master',
  'name': 'Ben Wilkinson',
  'profile_path': None},
 {'credit_id': '5677cec292514179dd00834d',
  'department': 'Crew',
  'gender': 0,
  'id': 1551772,
  'job': 'Special Effects Coordinator',
  'name': 'Lynne Corbould',
  'profile_path': None},
 {'credit_id': '5677cef792514179db00904d',
  'department': 'Crew',
  'gender': 0,
  'id': 239885,
  'job': 'Special Effects Coordinator',
  'name': 'Franco Ragusa',
  'profile_path': None},
 {'credit_id': '5677cf2892514179dd008356',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1459878,
  'job': 'Animation Director',
  'name': 'Marlene Chazot',
  'profile_path': None},
 {'credit_id': '5677cf3fc3a36816850087c1',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1442137,
  'job': 'Animation Supervisor',
  'name': 'Catherine Mullan',
  'profile_path': None},
 {'credit_id': '5677cf57c3a368168e008fcc',
  'department': 'Production',
  'gender': 0,
  'id': 1551773,
  'job': 'Casting',
  'name': 'Amal El-Farfachi',
  'profile_path': None},
 {'credit_id': '5677cf8492514179d20088ae',
  'department': 'Production',
  'gender': 2,
  'id': 10907,
  'job': 'Casting',
  'name': 'Stéphane Foenkinos',
  'profile_path': '/t7kHAc3IlPAgHZ5xeUmc6xtPYGC.jpg'},
 {'credit_id': '5677cf99c3a368168b00821d',
  'department': 'Production',
  'gender': 0,
  'id': 1551774,
  'job': 'Casting Associate',
  'name': 'Celebrity Booker',
  'profile_path': None},
 {'credit_id': '5677cfadc3a368167c008a30',
  'department': 'Production',
  'gender': 0,
  'id': 1551775,
  'job': 'Casting Associate',
  'name': 'Lucy Hellier',
  'profile_path': None},
 {'credit_id': '5677cfc3c3a3681680008755',
  'department': 'Production',
  'gender': 0,
  'id': 1305251,
  'job': 'Casting Associate',
  'name': 'Tusse Lande',
  'profile_path': None},
 {'credit_id': '5677cfe4c3a36816850087d2',
  'department': 'Production',
  'gender': 0,
  'id': 36108,
  'job': 'Casting Associate',
  'name': 'Nicole Schmied',
  'profile_path': None},
 {'credit_id': '5677d5a392514179db00911d',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551777,
  'job': 'Assistant Costume Designer',
  'name': 'Richard Davies',
  'profile_path': None},
 {'credit_id': '5677d5bec3a368167c008b13',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1546747,
  'job': 'Assistant Costume Designer',
  'name': 'Vivienne Jones',
  'profile_path': None},
 {'credit_id': '5677d609c3a368168000881a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1545912,
  'job': 'Costume Supervisor',
  'name': 'Abderrahim Benkhayi',
  'profile_path': None},
 {'credit_id': '5677d622c3a368167c008b25',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1319160,
  'job': 'Costume Supervisor',
  'name': 'Ken Crouch',
  'profile_path': None},
 {'credit_id': '5677d63dc3a368167a0090b4',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1510431,
  'job': 'Costume Supervisor',
  'name': 'Stefano De Nardis',
  'profile_path': None},
 {'credit_id': '5677d66cc3a368167a0090be',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1545913,
  'job': 'Set Costumer',
  'name': 'Rachid Aadassi',
  'profile_path': None},
 {'credit_id': '5677d73b92514179dd008471',
  'department': 'Camera',
  'gender': 0,
  'id': 1118711,
  'job': 'Camera Operator',
  'name': 'Kenji Katori',
  'profile_path': None},
 {'credit_id': '5677d75ac3a368167a0090e9',
  'department': 'Camera',
  'gender': 2,
  'id': 1403411,
  'job': 'Camera Operator',
  'name': 'Lucas Bielan',
  'profile_path': None},
 {'credit_id': '5677d79992514179d20089c2',
  'department': 'Camera',
  'gender': 0,
  'id': 1512767,
  'job': 'Camera Operator',
  'name': 'Luis David Sansans',
  'profile_path': None},
 {'credit_id': '5677d7b192514179d20089c6',
  'department': 'Camera',
  'gender': 2,
  'id': 61851,
  'job': 'Camera Operator',
  'name': 'Lorenzo Senatore',
  'profile_path': None},
 {'credit_id': '5677d7cd92514179db009178',
  'department': 'Camera',
  'gender': 0,
  'id': 1392246,
  'job': 'Camera Operator',
  'name': 'Clive Jackson',
  'profile_path': None},
 {'credit_id': '5677d7e992514179e7008654',
  'department': 'Camera',
  'gender': 0,
  'id': 937946,
  'job': 'Camera Operator',
  'name': 'Peter Field',
  'profile_path': None},
 {'credit_id': '5677d7ff92514179e300884b',
  'department': 'Camera',
  'gender': 0,
  'id': 1377503,
  'job': 'Camera Operator',
  'name': 'Sebastian Meuschel',
  'profile_path': None},
 {'credit_id': '5677d869c3a36816850088e3',
  'department': 'Lighting',
  'gender': 2,
  'id': 1414096,
  'job': 'Gaffer',
  'name': 'David Smith',
  'profile_path': None},
 {'credit_id': '5677d8ba92514179d20089f0',
  'department': 'Camera',
  'gender': 0,
  'id': 1399071,
  'job': 'Helicopter Camera',
  'name': 'Hans Bjerno',
  'profile_path': '/tzeE3ATzHWyEQH32GYeGuSgr1xz.jpg'},
 {'credit_id': '5677d8d192514179e1009100',
  'department': 'Camera',
  'gender': 0,
  'id': 1404244,
  'job': 'Helicopter Camera',
  'name': 'John Marzano',
  'profile_path': None},
 {'credit_id': '5677d927c3a36816850088f2',
  'department': 'Camera',
  'gender': 0,
  'id': 1405241,
  'job': 'Helicopter Camera',
  'name': 'Adam Dale',
  'profile_path': None},
 {'credit_id': '5677d94192514179d20089ff',
  'department': 'Camera',
  'gender': 2,
  'id': 1388897,
  'job': 'Steadicam Operator',
  'name': 'Julian Morson',
  'profile_path': None},
 {'credit_id': '5677d969c3a368168b00834a',
  'department': 'Camera',
  'gender': 0,
  'id': 1470167,
  'job': 'Still Photographer',
  'name': 'Jonathan Olley',
  'profile_path': None},
 {'credit_id': '5677d98fc3a3681685008904',
  'department': 'Camera',
  'gender': 2,
  'id': 1392718,
  'job': 'Still Photographer',
  'name': 'Jasin Boland',
  'profile_path': '/zxr5WBe3JW1GtxPoER9JY8QJm07.jpg'},
 {'credit_id': '5677da26c3a368167a009139',
  'department': 'Camera',
  'gender': 0,
  'id': 1545995,
  'job': 'Additional Camera',
  'name': 'Carlos De Carvalho',
  'profile_path': None},
 {'credit_id': '5677dc90c3a368167a009190',
  'department': 'Sound',
  'gender': 0,
  'id': 1401631,
  'job': 'ADR & Dubbing',
  'name': 'Michelle Pazer',
  'profile_path': None},
 {'credit_id': '5677dcb0925141691a00552a',
  'department': 'Sound',
  'gender': 0,
  'id': 1367493,
  'job': 'Foley',
  'name': 'John T. Cucci',
  'profile_path': None},
 {'credit_id': '5677dcc7c3a36816830086cc',
  'department': 'Sound',
  'gender': 2,
  'id': 1338372,
  'job': 'Foley',
  'name': "Dan O'Connell",
  'profile_path': None},
 {'credit_id': '5677dce5c3a36816830086d3',
  'department': 'Sound',
  'gender': 0,
  'id': 1389614,
  'job': 'Foley',
  'name': 'Peter Michael Sullivan',
  'profile_path': None},
 {'credit_id': '5677dd02c3a368167a0091a2',
  'department': 'Editing',
  'gender': 2,
  'id': 1399862,
  'job': 'Dialogue Editor',
  'name': 'Daniel Saxlid',
  'profile_path': None},
 {'credit_id': '5677dd1ec3a36816890085d3',
  'department': 'Sound',
  'gender': 0,
  'id': 14764,
  'job': 'Sound Designer',
  'name': 'Christopher Assells',
  'profile_path': None},
 {'credit_id': '5677dd38c3a368167c008c21',
  'department': 'Sound',
  'gender': 0,
  'id': 1392083,
  'job': 'Sound Designer',
  'name': 'Ann Scibelli',
  'profile_path': None},
 {'credit_id': '5677dd519251417845001588',
  'department': 'Sound',
  'gender': 0,
  'id': 1404217,
  'job': 'Sound Designer',
  'name': 'Peter Staubli',
  'profile_path': None},
 {'credit_id': '5677dd6bc3a368168b0083e2',
  'department': 'Sound',
  'gender': 0,
  'id': 1551789,
  'job': 'Sound Effects Editor',
  'name': 'Ando Johnson',
  'profile_path': None},
 {'credit_id': '5677dd8792514179db009235',
  'department': 'Sound',
  'gender': 0,
  'id': 1345595,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Scott Millan',
  'profile_path': None},
 {'credit_id': '5677dd9fc3a368168b0083f0',
  'department': 'Sound',
  'gender': 2,
  'id': 1341858,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gregg Rudloff',
  'profile_path': None},
 {'credit_id': '5677de2dc3a3681683008713',
  'department': 'Crew',
  'gender': 0,
  'id': 1551791,
  'job': 'Armorer',
  'name': 'Greg Corke',
  'profile_path': None},
 {'credit_id': '5677de6192514179dd008566',
  'department': 'Directing',
  'gender': 0,
  'id': 1392661,
  'job': 'Script Supervisor',
  'name': 'Susie Jones',
  'profile_path': None},
 {'credit_id': '5677de8a92514179e10091d9',
  'department': 'Production',
  'gender': 0,
  'id': 1551796,
  'job': 'Researcher',
  'name': 'Amin Rharda',
  'profile_path': None},
 {'credit_id': '5677dea9c3a368168e00921c',
  'department': 'Crew',
  'gender': 0,
  'id': 1551797,
  'job': 'Armorer',
  'name': 'Joss Skottowe',
  'profile_path': None},
 {'credit_id': '5677def192514179e700875b',
  'department': 'Directing',
  'gender': 1,
  'id': 1358025,
  'job': 'Script Supervisor',
  'name': 'Nicoletta Mani',
  'profile_path': None},
 {'credit_id': '5677df58c3a368167c008c82',
  'department': 'Sound',
  'gender': 2,
  'id': 40827,
  'job': 'Music Editor',
  'name': 'Peter Clarke',
  'profile_path': '/qY6xd5homtmeeUlFZaTj6jrAzej.jpg'},
 {'credit_id': '5677df82c3a3681683008748',
  'department': 'Sound',
  'gender': 2,
  'id': 7538,
  'job': 'Music Editor',
  'name': 'Bill Bernstein',
  'profile_path': None},
 {'credit_id': '5677dfabc3a368168000899f',
  'department': 'Sound',
  'gender': 2,
  'id': 66941,
  'job': 'Orchestrator',
  'name': 'J.A.C. Redford',
  'profile_path': None},
 {'credit_id': '5677dfcac3a368168300875b',
  'department': 'Editing',
  'gender': 0,
  'id': 1548406,
  'job': 'Digital Intermediate',
  'name': 'Kim Honeyman',
  'profile_path': None},
 {'credit_id': '5677dff292514179e100921a',
  'department': 'Editing',
  'gender': 0,
  'id': 1408363,
  'job': 'First Assistant Editor',
  'name': 'Emma McCleave',
  'profile_path': None},
 {'credit_id': '5677e087c3a368167a00922b',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1425971,
  'job': 'Hair Designer',
  'name': 'Zoe Tahir',
  'profile_path': None},
 {'credit_id': '5677e0cf9251417845001631',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1099281,
  'job': 'Hairstylist',
  'name': 'Gerardo Perez Arreola',
  'profile_path': None},
 {'credit_id': '5677e0ec925141691a0055d6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1458416,
  'job': 'Hairstylist',
  'name': 'Francesca Crowder',
  'profile_path': None},
 {'credit_id': '5677e191925141784500164f',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1409821,
  'job': 'Makeup Designer',
  'name': 'Naomi Donne',
  'profile_path': None},
 {'credit_id': '5677e1c7c3a368167c008cd8',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551801,
  'job': 'Makeup Artist',
  'name': 'Charlie Hounslow',
  'profile_path': None},
 {'credit_id': '5677e1e592514179d2008b7b',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1551802,
  'job': 'Makeup Artist',
  'name': 'Lucy Friend',
  'profile_path': None},
 {'credit_id': '5677e29c925141691a00561c',
  'department': 'Crew',
  'gender': 0,
  'id': 23774,
  'job': 'Makeup Effects',
  'name': 'Jo Grover',
  'profile_path': None},
 {'credit_id': '5677e2b5c3a368168e0092aa',
  'department': 'Crew',
  'gender': 0,
  'id': 1411323,
  'job': 'Makeup Effects',
  'name': 'Susan Howard',
  'profile_path': None},
 {'credit_id': '5677e2e1c3a368167c008d1a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1401126,
  'job': 'Wigmaker',
  'name': 'Alex Rouse',
  'profile_path': None},
 {'credit_id': '5677e45ac3a368168b0084fd',
  'department': 'Art',
  'gender': 0,
  'id': 23491,
  'job': 'Assistant Art Director',
  'name': 'Roxana Alexandru ',
  'profile_path': None},
 {'credit_id': '5677e47592514179e10092dd',
  'department': 'Art',
  'gender': 0,
  'id': 1551809,
  'job': 'Assistant Art Director',
  'name': 'Lydia Fry',
  'profile_path': None},
 {'credit_id': '5677e48dc3a368167a0092c8',
  'department': 'Art',
  'gender': 0,
  'id': 1472773,
  'job': 'Assistant Art Director',
  'name': 'Sami Gaidi',
  'profile_path': None},
 {'credit_id': '5677e4a492514179db009373',
  'department': 'Art',
  'gender': 0,
  'id': 1551810,
  'job': 'Assistant Art Director',
  'name': 'Liam Georgensen',
  'profile_path': None},
 {'credit_id': '5677e4bb92514179dd00868a',
  'department': 'Art',
  'gender': 0,
  'id': 1551811,
  'job': 'Assistant Art Director',
  'name': 'Hugh McClelland',
  'profile_path': None},
 {'credit_id': '5677e53092514179db00938e',
  'department': 'Crew',
  'gender': 0,
  'id': 1551812,
  'job': 'Carpenter',
  'name': 'John Allen',
  'profile_path': None},
 {'credit_id': '5677e547c3a368167a0092ef',
  'department': 'Crew',
  'gender': 0,
  'id': 1551813,
  'job': 'Carpenter',
  'name': 'Eddie Murphy',
  'profile_path': None},
 {'credit_id': '5677e58cc3a3681685008adb',
  'department': 'Art',
  'gender': 0,
  'id': 1398089,
  'job': 'Greensman',
  'name': 'Ian Whiteford',
  'profile_path': None},
 {'credit_id': '567806ba92514179e10098ee',
  'department': 'Crew',
  'gender': 0,
  'id': 1425484,
  'job': 'CG Supervisor',
  'name': 'Laurent Hugueniot',
  'profile_path': None},
 {'credit_id': '567806e092514179dd008c84',
  'department': 'Crew',
  'gender': 0,
  'id': 1551872,
  'job': 'CG Supervisor',
  'name': 'Carlos-Christian Nickel',
  'profile_path': None},
 {'credit_id': '567806f7c3a368167a0098d7',
  'department': 'Crew',
  'gender': 0,
  'id': 1551874,
  'job': 'CG Supervisor',
  'name': 'Chris Petts',
  'profile_path': None},
 {'credit_id': '56780712c3a368168b008ace',
  'department': 'Crew',
  'gender': 0,
  'id': 1415157,
  'job': 'CG Supervisor',
  'name': 'Joel Green',
  'profile_path': None},
 {'credit_id': '56780731c3a3681680009013',
  'department': 'Crew',
  'gender': 0,
  'id': 1459925,
  'job': 'CG Supervisor',
  'name': 'Daniel Pastore',
  'profile_path': None},
 {'credit_id': '567807b7c3a368167a0098f0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1551892,
  'job': 'Visual Effects Coordinator',
  'name': 'Hugh Brompton',
  'profile_path': None},
 {'credit_id': '567807d1c3a3681680009022',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1551893,
  'job': 'Visual Effects Coordinator',
  'name': 'Jillian Brooks',
  'profile_path': None},
 {'credit_id': '567807eb92514179db00995e',

In [17]:
cast = results['cast'][:3]

In [18]:
cast

[{'cast_id': 242,
  'character': 'Jake Sully',
  'credit_id': '5602a8a7c3a3685532001c9a',
  'gender': 2,
  'id': 65731,
  'name': 'Sam Worthington',
  'order': 0,
  'profile_path': '/9XzAE3ZnCnazub4xrSY8YBN7sNq.jpg'},
 {'cast_id': 3,
  'character': 'Princess Neytiri',
  'credit_id': '52fe48009251416c750ac9cb',
  'gender': 1,
  'id': 8691,
  'name': 'Zoe Saldana',
  'order': 1,
  'profile_path': '/ofNrWiA2KDdqiNxFTLp51HcXUlp.jpg'},
 {'cast_id': 4,
  'character': 'Col. Quaritch',
  'credit_id': '52fe48009251416c750ac9cf',
  'gender': 2,
  'id': 32747,
  'name': 'Stephen Lang',
  'order': 2,
  'profile_path': '/tqF6ibURpLvRPlgvLRvjCQqWaa2.jpg'}]