## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(0,101),80)
print(sample_list_1)

[25, 52, 12, 80, 6, 58, 57, 48, 49, 5, 72, 96, 19, 37, 84, 34, 1, 45, 70, 100, 91, 98, 71, 46, 21, 59, 33, 11, 65, 94, 95, 76, 23, 20, 15, 99, 3, 32, 41, 7, 66, 13, 60, 18, 36, 16, 85, 73, 64, 38, 56, 29, 88, 35, 2, 43, 54, 61, 79, 81, 55, 89, 86, 51, 10, 30, 87, 63, 40, 4, 26, 74, 8, 27, 0, 77, 31, 83, 42, 39]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2 = []

for x in range(0,80):
    sample_list_2 += random.sample(range(0,101),1)

print(sample_list_2)

[6, 97, 98, 69, 14, 90, 5, 100, 10, 16, 57, 67, 15, 63, 93, 96, 52, 12, 71, 21, 63, 20, 30, 71, 46, 2, 84, 37, 14, 89, 23, 74, 72, 98, 94, 79, 41, 83, 23, 34, 89, 89, 50, 14, 11, 58, 37, 38, 40, 95, 7, 50, 97, 89, 98, 21, 23, 31, 22, 70, 9, 92, 74, 34, 62, 100, 43, 52, 4, 62, 36, 27, 0, 39, 26, 5, 70, 90, 30, 27]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
set2 = set(sample_list_2)
print(len(set2))

# El tamaño de set2 ya no es 80 porque al convertirse en set se eliminaron los duplicados.

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
set3 = set()
for e in set1:
    if not(e in set2):
        set3.add(e)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
set4 = set()
for e in set2:
    if not(e in set1):
        set4.add(e)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
set5 = set()
for e in set2:
    if e in set1:
        set5.add(e)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [17]:
set3 == set1 - set1.intersection(set2)
set4 == set2 - set2.intersection(set1)
set5 == set1.intersection(set2)

True

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [16]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [ ]:
aux = 0
for e in set1:
    if not(e in set6):
        aux += 1
if aux:
    print("No son iguales")
else:
    print("Son iguales")

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
set345 = set3.union(set4, set5)
set12 = set1.union(set2)
set345 == set12

True

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
set1.remove(0)

# No se puede usar pop() para remover un elemento arbitrario de un set, y para ello solo se puede 
# usar el método remove.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [24]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for e in list_to_remove:
    if e in set1:
        set1.remove(e)
    else:
        print(e)

9
69