In [1]:
import random

In [2]:
sample_list_1 = random.sample(range(0,101),80)

In [3]:
print(sample_list_1)

[12, 2, 11, 38, 4, 35, 40, 50, 37, 87, 28, 100, 64, 18, 44, 3, 19, 90, 26, 41, 85, 75, 68, 88, 65, 91, 66, 29, 21, 5, 92, 39, 84, 73, 14, 61, 42, 98, 63, 32, 97, 17, 13, 49, 0, 33, 72, 52, 70, 22, 47, 16, 82, 76, 71, 53, 25, 69, 55, 34, 59, 8, 46, 45, 58, 99, 43, 62, 89, 86, 94, 83, 7, 48, 79, 15, 54, 9, 24, 6]

In [5]:
set1 = set(sample_list_1)
print(len(set1))

80

In [8]:
sample_list_2 = []

for x in range(0,80):
    sample_list_2 += random.sample(range(0,101),1)

print(sample_list_2)

[58, 20, 88, 38, 99, 66, 82, 24, 23, 31, 79, 30, 61, 92, 3, 67, 61, 33, 2, 6, 48, 2, 12, 83, 49, 25, 22, 87, 35, 22, 76, 50, 67, 8, 65, 16, 1, 92, 10, 50, 38, 91, 61, 65, 60, 6, 24, 10, 20, 26, 21, 75, 31, 15, 60, 2, 8, 24, 90, 45, 99, 38, 17, 30, 87, 58, 37, 63, 69, 69, 33, 84, 73, 42, 87, 62, 6, 32, 6, 54]

In [9]:
set2 = set(sample_list_2)
print(len(set2))

52

In [19]:
set3 = set()
for e in set1:
    if not(e in set2):
        set3.add(e)
print(set3)

{0, 4, 5, 7, 9, 11, 13, 14, 18, 19, 28, 29, 34, 39, 40, 41, 43, 44, 46, 47, 52, 53, 55, 59, 64, 68, 70, 71, 72, 85, 86, 89, 94, 97, 98, 100}

In [12]:
print(len(set3))

36

In [16]:
print(set1)

print(set2)

print(set3)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100}
{1, 2, 3, 6, 8, 10, 12, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 30, 31, 32, 33, 35, 37, 38, 42, 45, 48, 49, 50, 54, 58, 60, 61, 62, 63, 65, 66, 67, 69, 73, 75, 76, 79, 82, 83, 84, 87, 88, 90, 91, 92, 99}
{0, 4, 5, 7, 9, 11, 13, 14, 18, 19, 28, 29, 34, 39, 40, 41, 43, 44, 46, 47, 52, 53, 55, 59, 64, 68, 70, 71, 72, 85, 86, 89, 94, 97, 98, 100}

In [20]:
set5 = set()
for e in set2:
    if e in set1:
        set5.add(e)
print(set5)

{2, 3, 6, 8, 12, 15, 16, 17, 21, 22, 24, 25, 26, 32, 33, 35, 37, 38, 42, 45, 48, 49, 50, 54, 58, 61, 62, 63, 65, 66, 69, 73, 75, 76, 79, 82, 83, 84, 87, 88, 90, 91, 92, 99}

In [22]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
36
8
44

In [23]:
set6 = set()

In [24]:
set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100}

In [25]:
print(set3)
print(set5)

{0, 4, 5, 7, 9, 11, 13, 14, 18, 19, 28, 29, 34, 39, 40, 41, 43, 44, 46, 47, 52, 53, 55, 59, 64, 68, 70, 71, 72, 85, 86, 89, 94, 97, 98, 100}
{2, 3, 6, 8, 12, 15, 16, 17, 21, 22, 24, 25, 26, 32, 33, 35, 37, 38, 42, 45, 48, 49, 50, 54, 58, 61, 62, 63, 65, 66, 69, 73, 75, 76, 79, 82, 83, 84, 87, 88, 90, 91, 92, 99}

In [28]:
aux = 0
for e in set1:
    if not(e in set6):
        aux += 1
if aux:
    print("No son iguales")
else:
    print("Son iguales")

Son iguales

In [29]:
set3 == set1 - set1.intersection(set2)

True

In [30]:
set4 == set2 - set2.intersection(set1)

True

In [31]:
set5 == set1.intersection(set2)

True

In [32]:
set2.issubset(set1)

False

In [33]:
set3.issubset(set1)

True

In [34]:
set345 = set3.union(set4, set5)

In [35]:
set12 = set1.union(set2)

In [37]:
print(set345)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100}

In [39]:
sample_list_1.pop(0)
print(sample_list_1)

[2, 11, 38, 4, 35, 40, 50, 37, 87, 28, 100, 64, 18, 44, 3, 19, 90, 26, 41, 85, 75, 68, 88, 65, 91, 66, 29, 21, 5, 92, 39, 84, 73, 14, 61, 42, 98, 63, 32, 97, 17, 13, 49, 0, 33, 72, 52, 70, 22, 47, 16, 82, 76, 71, 53, 25, 69, 55, 34, 59, 8, 46, 45, 58, 99, 43, 62, 89, 86, 94, 83, 7, 48, 79, 15, 54, 9, 24, 6]

In [41]:
set1.remove(0)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 28, 29, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100}

In [42]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [ ]:
for e in list_to_remove:
    if e in set1:
        set1.remove(e)
    else: