# Main de Pipelines Project

In [167]:
# imports


from functools import reduce
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [168]:
raw = pd.read_csv('Consumo_cerveja.csv', decimal=",")
raw.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,27.30,23.9,32.5,0.0,0.0,25.461
1,2015-01-02,27.02,24.5,33.5,0.0,0.0,28.972
2,2015-01-03,24.82,22.4,29.9,0.0,1.0,30.814
3,2015-01-04,23.98,21.5,28.6,1.2,1.0,29.799
4,2015-01-05,23.82,21.0,28.3,0.0,0.0,28.900

In [169]:
raw.isnull().sum()

Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

In [170]:
raw = raw[:365]
raw.tail()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
360,2015-12-27,24.00,21.1,28.2,13.6,1.0,32.307
361,2015-12-28,22.64,21.1,26.7,0.0,0.0,26.095
362,2015-12-29,21.68,20.3,24.1,10.3,0.0,22.309
363,2015-12-30,21.38,19.3,22.4,6.3,0.0,20.467
364,2015-12-31,24.76,20.2,29.0,0.0,0.0,22.446

In [171]:
raw.isnull().sum()

Data                           0
Temperatura Media (C)          0
Temperatura Minima (C)         0
Temperatura Maxima (C)         0
Precipitacao (mm)              0
Final de Semana                0
Consumo de cerveja (litros)    0
dtype: int64

In [172]:
data = raw

In [173]:
data = data.rename(columns={'Data':'Day', 'Temperatura Maxima (C)': 'Max Temp', 'Temperatura Minima (C)': 'Min Temp', 'Temperatura Media (C)':'Mid Temp', 'Precipitacao (mm)':'Rainfall', 'Final de Semana':'Weekend', 'Consumo de cerveja (litros)':'Consumption'})
data.head()

          Day  Mid Temp  Min Temp  Max Temp  Rainfall  Weekend Consumption
0  2015-01-01     27.30      23.9      32.5       0.0      0.0      25.461
1  2015-01-02     27.02      24.5      33.5       0.0      0.0      28.972
2  2015-01-03     24.82      22.4      29.9       0.0      1.0      30.814
3  2015-01-04     23.98      21.5      28.6       1.2      1.0      29.799
4  2015-01-05     23.82      21.0      28.3       0.0      0.0      28.900

In [174]:
data['Consumption'] = data['Consumption'].astype('float64')
data['Consumption'].dtype

dtype('float64')

In [175]:
data['Consumption'] = data['Consumption'].apply(lambda x: x*1000)
data.head()

          Day  Mid Temp  Min Temp  Max Temp  Rainfall  Weekend  Consumption
0  2015-01-01     27.30      23.9      32.5       0.0      0.0      25461.0
1  2015-01-02     27.02      24.5      33.5       0.0      0.0      28972.0
2  2015-01-03     24.82      22.4      29.9       0.0      1.0      30814.0
3  2015-01-04     23.98      21.5      28.6       1.2      1.0      29799.0
4  2015-01-05     23.82      21.0      28.3       0.0      0.0      28900.0

In [176]:
raw['Data'] = pd.to_datetime(raw['Data'])
data['Day Of Week'] = raw['Data'].dt.weekday_name
data.head(10)

,Day,Mid Temp,Min Temp,Max Temp,Rainfall,Weekend,Consumption,Day Of Week
0,2015-01-01,27.30,23.9,32.5,0.0,0.0,25461.0,Thursday
1,2015-01-02,27.02,24.5,33.5,0.0,0.0,28972.0,Friday
2,2015-01-03,24.82,22.4,29.9,0.0,1.0,30814.0,Saturday
3,2015-01-04,23.98,21.5,28.6,1.2,1.0,29799.0,Sunday
4,2015-01-05,23.82,21.0,28.3,0.0,0.0,28900.0,Monday
5,2015-01-06,23.78,20.1,30.5,12.2,0.0,28218.0,Tuesday
6,2015-01-07,24.00,19.5,33.7,0.0,0.0,29732.0,Wednesday
7,2015-01-08,24.90,19.5,32.8,48.6,0.0,28397.0,Thursday
8,2015-01-09,28.20,21.9,34.0,4.4,0.0,24886.0,Friday
9,2015-01-10,26.76,22.1,34.2,0.0,1.0,37937.0,Saturday

In [177]:
data['Day'] = data['Day'].apply(lambda s: s.split('-'))
data[['Year','Month','Day']] = pd.DataFrame(data.Day.values.tolist(), index= data.index)
data

,Day,Mid Temp,Min Temp,Max Temp,Rainfall,Weekend,Consumption,Day Of Week,Year,Month
0,01,27.30,23.9,32.5,0.0,0.0,25461.0,Thursday,2015,01
1,02,27.02,24.5,33.5,0.0,0.0,28972.0,Friday,2015,01
2,03,24.82,22.4,29.9,0.0,1.0,30814.0,Saturday,2015,01
3,04,23.98,21.5,28.6,1.2,1.0,29799.0,Sunday,2015,01
4,05,23.82,21.0,28.3,0.0,0.0,28900.0,Monday,2015,01
5,06,23.78,20.1,30.5,12.2,0.0,28218.0,Tuesday,2015,01
6,07,24.00,19.5,33.7,0.0,0.0,29732.0,Wednesday,2015,01
7,08,24.90,19.5,32.8,48.6,0.0,28397.0,Thursday,2015,01
8,09,28.20,21.9,34.0,4.4,0.0,24886.0,Friday,2015,01
9,10,26.76,22.1,34.2,0.0,1.0,37937.0,Saturday,2015,01
10,11,27.62,22.2,34.8,3.4,1.0,36254.0,Sunday,2015,01
11,12,25.96,21.4,35.4,0.0,0.0,25743.0,Monday,2015,01
12,13,25.52,21.2,34.8,0.8,0.0,26990.0,Tuesday,2015,01
13,14,25.96,21.3,34.0,1.6,0.0,31825.0,Wednesday,2015,01
14,15,25.86,21.5,32.8,3.0,0.0,25724.0,Thursday,2015,01
15,16,26.50,22.3,32.7,2.0,0.0,29938.0,Friday,2015,01
16,17,28.86,22.0,35.8,0.0,1.0,37690.0,Saturday,2015,01
17,18,28.26,23.4,35.6,0.0,1.0,30524.0,Sunday,2015,01
18,19,28.22,22.7,36.5,3.7,0.0,29265.0,Monday,2015,01
19,20,27.68,23.3,35.6,0.6,0.0,35127.0,Tuesday,2015,01
20,21,25.32,22.7,30.9,0.0,0.0,29130.0,Wednesday,2015,01
21,22,21.74,19.2,26.1,31.0,0.0,25795.0,Thursday,2015,01
22,23,21.04,18.5,26.1,3.6,0.0,21784.0,Friday,2015,01
23,24,23.12,19.0,29.4,13.0,1.0,28348.0,Saturday,2015,01
24,25,24.40,18.1,30.0,0.0,1.0,31088.0,Sunday,2015,01
25,26,22.40,18.9,28.7,20.8,0.0,21520.0,Monday,2015,01
26,27,23.60,20.5,28.7,1.2,0.0,29972.0,Tuesday,2015,01
27,28,25.68,20.1,29.9,4.9,0.0,22603.0,Wednesday,2015,01
28,29,25.00,21.5,29.2,0.0,0.0,22696.0,Thursday,2015,01
29,30,22.80,20.9,26.9,0.0,0.0,26845.0,Friday,2015,01
...,...,...,...,...,...,...,...,...,...,...
335,02,22.10,18.2,29.4,0.0,0.0,30471.0,Wednesday,2015,12
336,03,22.44,20.2,26.1,0.0,0.0,28405.0,Thursday,2015,12
337,04,22.76,19.0,29.1,0.0,0.0,29513.0,Friday,2015,12
338,05,24.80,19.5,30.6,0.1,1.0,32451.0,Saturday,2015,12
339,06,23.12,20.6,28.0,0.1,1.0,32780.0,Sunday,2015,12
340,07,20.04,18.0,23.9,47.8,0.0,23375.0,Monday,2015,12
341,08,21.70,18.0,28.0,0.0,0.0,27713.0,Tuesday,2015,12
342,09,23.96,19.6,27.9,0.0,0.0,27137.0,Wednesday,2015,12
343,10,24.00,22.2,27.7,0.0,0.0,22933.0,Thursday,2015,12
344,11,24.04,20.7,30.3,0.0,0.0,30740.0,Friday,2015,12
345,12,23.92,20.6,30.8,0.0,1.0,29579.0,Saturday,2015,12
346,13,24.54,19.3,31.0,12.2,1.0,29188.0,Sunday,2015,12
347,14,26.28,21.1,32.5,2.0,0.0,28131.0,Monday,2015,12
348,15,25.66,20.6,32.8,4.0,0.0,28617.0,Tuesday,2015,12
349,16,22.04,20.7,24.8,1.5,0.0,21062.0,Wednesday,2015,12
350,17,23.32,18.9,28.7,0.0,0.0,24337.0,Thursday,2015,12
351,18,26.42,19.6,33.5,0.1,0.0,27042.0,Friday,2015,12
352,19,23.74,19.8,31.3,1.3,1.0,32536.0,Saturday,2015,12
353,20,22.84,19.6,29.0,8.4,1.0,30127.0,Sunday,2015,12
354,21,23.12,19.6,29.1,27.2,0.0,24834.0,Monday,2015,12
355,22,24.60,19.6,32.4,43.0,0.0,26828.0,Tuesday,2015,12
356,23,27.46,22.1,32.4,3.0,0.0,26468.0,Wednesday,2015,12
357,24,24.72,20.5,31.5,3.4,0.0,31572.0,Thursday,2015,12
358,25,23.58,17.8,31.0,39.0,0.0,26308.0,Friday,2015,12
359,26,23.34,17.8,29.8,94.8,1.0,21955.0,Saturday,2015,12
360,27,24.00,21.1,28.2,13.6,1.0,32307.0,Sunday,2015,12
361,28,22.64,21.1,26.7,0.0,0.0,26095.0,Monday,2015,12
362,29,21.68,20.3,24.1,10.3,0.0,22309.0,Tuesday,2015,12
363,30,21.38,19.3,22.4,6.3,0.0,20467.0,Wednesday,2015,12
364,31,24.76,20.2,29.0,0.0,0.0,22446.0,Thursday,2015,12

In [179]:
column_order = ['Year','Month','Day','Day Of Week','Min Temp','Mid Temp','Max Temp','Rainfall','Weekend','Consumption']
data = data[column_order]
data.head()

,Year,Month,Day,Day Of Week,Min Temp,Mid Temp,Max Temp,Rainfall,Weekend,Consumption
0,2015,01,01,Thursday,23.9,27.30,32.5,0.0,0.0,25461.0
1,2015,01,02,Friday,24.5,27.02,33.5,0.0,0.0,28972.0
2,2015,01,03,Saturday,22.4,24.82,29.9,0.0,1.0,30814.0
3,2015,01,04,Sunday,21.5,23.98,28.6,1.2,1.0,29799.0
4,2015,01,05,Monday,21.0,23.82,28.3,0.0,0.0,28900.0

In [180]:
data = data.drop(['Year'], axis=1)
data.head()

,Month,Day,Day Of Week,Min Temp,Mid Temp,Max Temp,Rainfall,Weekend,Consumption
0,01,01,Thursday,23.9,27.30,32.5,0.0,0.0,25461.0
1,01,02,Friday,24.5,27.02,33.5,0.0,0.0,28972.0
2,01,03,Saturday,22.4,24.82,29.9,0.0,1.0,30814.0
3,01,04,Sunday,21.5,23.98,28.6,1.2,1.0,29799.0
4,01,05,Monday,21.0,23.82,28.3,0.0,0.0,28900.0

In [181]:
cons_month = data.groupby('Month', as_index=False).agg({'Mid Temp':'mean','Rainfall':'mean','Consumption':'mean'})
cons_month.sort_values(by=('Consumption'), ascending=False)

   Month   Mid Temp   Rainfall   Consumption
0     01  25.218065   5.038710  28677.645161
9     10  21.905806   2.970968  27653.193548
11    12  23.519355  10.261290  27169.516129
7     08  19.900000   1.019355  25908.967742
10    11  22.194000   8.240000  25828.200000
1     02  23.555000   9.750000  25673.142857
8     09  21.000667   6.723333  25198.133333
2     03  22.167097  10.732258  25036.387097
3     04  20.837333   3.603333  24624.100000
5     06  18.070000   0.676667  23627.066667
4     05  18.596774   1.635484  22798.387097
6     07  17.887097   2.100000  22572.870968

In [183]:
cons_day = data.groupby('Day Of Week', as_index=False).agg({'Mid Temp':'mean','Rainfall':'mean','Consumption':'mean'})
cons_day.sort_values(by=('Consumption'), ascending=False)

  Day Of Week   Mid Temp  Rainfall   Consumption
3      Sunday  20.931154  4.076923  29007.519231
2    Saturday  21.010385  6.378846  28837.923077
5     Tuesday  21.220000  5.805769  24355.153846
0      Friday  21.373077  4.221154  24137.884615
4    Thursday  21.598868  4.552830  24076.547170
6   Wednesday  21.376538  2.730769  23810.384615
1      Monday  21.067308  8.623077  23609.634615